* {
  margin: 0;
  padding: 0;
}

.fadeIn {
  opacity: 1;
  animation: fadeIn 2s ease 0s 1 normal;
}

.fadeOut {
  opacity: 0;
  display: none;
  animation: fadeOut 1s ease 0s 1 normal;
}

@keyframes fadeIn { /*「fadeIn」と名前をそろえる*/
    0% {opacity: 0} /*アニメーション開始時は完全に透過*/
    100% {opacity: 1} /*アニメーション終了時は透過しない*/
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeOut { /*「fadeIn」と名前をそろえる*/
    0% {opacity: 1} /*アニメーション開始時は完全に透過*/
    100% {opacity: 0} /*アニメーション終了時は透過しない*/
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1}
    100% {opacity: 0}
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {display: inline-table;}


body {
  text-decoration: none;
  font-family:Avenir , "Open Sans" , "游ゴシック","Helvetica Neue" , Helvetica , Arial , Verdana , Roboto  , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  width:100vw;
  height: 100vh;
  /*background-image: url(../img/background.png);*/
  background-color: #EFF5FF;
  background-origin: content-box;
  background-position: center;
  color: #5C6A70;
}

a:link { color:#5C6A70; text-decoration:none; }
a:visited { color:#5C6A70; text-decoration:none; }
a:hover { color:#5C6A70; text-decoration:none; opacity: .8;}
a:active { color:#5C6A70; text-decoration:none; }

h1 {
  font-size: 24px;
  letter-spacing: 3px;
}

p {
  font-size: 14px;
  line-height: normal;
}



/*-----header-----*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 10;
  justify-content: center;
  background: #ffffff;
  z-index: 1000;
}

header #title {
  position: absolute;
  left: 0;
  padding: 25px;
}

header h1, header h2 {
  color: #5C6A70;
  margin: 0 0;
}

header h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
}

header h2 {
  font-size: 24px;
  letter-spacing: 2px;
}

header .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 50px;
  width: 40%;
  height: 60px;
  transition: all 300ms 0s ease;
}

header a {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  color: #5C6A70;
  padding: 22px 0 18px;
  /*margin:  0 -3px;*/
  /*width: 120px;*/
  flex-basis: 120px;
  /*height: 100%;*/
  z-index: 200;
  transition: all 300ms 0s ease;
}

header a:hover {
  opacity: .6;
  background-color: #EFF5FF
}

.menu .here {
  opacity: .8;
  background-color: #EFF5FF
}

/*-----main-----*/

main {
  position: relative;
  width: 100%;
  top: 0;
}

footer {
  bottom: 20;
  position: fixed;
  /*margin-top: -60px;*/
  width: 100%;
  height: 0;
  text-align: center;
  z-index: 2000;
}

footer p {
  font-size: 12px;
}
