body {
  background: rgba(250, 252, 255, 1);
  color: #5C6A70;
}

.expand {
  animation: expand 1s ease 0s 1 normal;
}

@keyframes expand { /*「fadeIn」と名前をそろえる*/
    0% {height: 0} /*アニメーション開始時は完全に透過*/
    100% {height: 40vh} /*アニメーション終了時は透過しない*/
}

@-webkit-keyframes expand {
  0% {height: 0} /*アニメーション開始時は完全に透過*/
  100% {height: 40vh} /*アニメーション終了時は透過しない*/
}



#work {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100vh;
  /*background: rgba(255, 255, 255, 1);*/
  justify-content: center;
  z-index: 100;
  overflow-y: scroll;
}

#mainImage {
  width: 100%;
  height: 40vh;
  margin-top: 60px;
  background-image: url("../work/img/work.png");
  background-size: cover;
  background-position: center;
}

#work .content-box {
  background: #ffffff;
  position: relative;
  max-width: 1000px;
  width: 60%;
  /*min-width: 800px;*/
  padding: 5px 80px 100px;
  margin: 0 auto;
}

#work h1 {
  margin: 0 auto;
}
#work h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 4px auto;
}

#work p {
  letter-spacing: 1px;
  margin: 4px auto 30px;
}

.info{
  font-style: italic;
  opacity: .8;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto 30px;
}

#description {
  margin: auto auto 100px;
}

#work-image {
  text-align: center;
}

#work-image img {
  display: block;
  width: 90%;
  height: auto;
  margin: 5px auto;
}

.line:after {
  content: '';
  position: absolute;
  top: 0;
  left: -18px;
  background: #5C6A70;
  width: 4px;
  height: 100%;
}
